@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

/**
 * This is the newer way of using safelist from v3
 * Source: https://github.com/tailwindlabs/tailwindcss/pull/17147
 */
@source inline("duration-1000");

@theme {
    --color-blue-resume: #041E42;
    --default-font-family: "Carlito", "sans-serif";
    --letter-h: 11in;
    --letter-h-2: 22in;
    --letter-w: 8.5in;
}

body {
    @apply bg-slate-950;
}

@layer base {
    td {
        @apply py-0;
    }
}

@layer components {
    .anchor-link {
        @apply cursor-pointer hover:text-cyan-400;
    }
    
    .skill-title,
    .section-title {
        @apply text-lg font-semibold border-b-2 border-black mb-2;
    }
    
    .skill-title {
        @apply w-max;
    }
    
    .skill-list {
        @apply flex gap-2 flex-wrap;
        
        li {
            @apply border px-2 rounded-lg border-blue-resume bg-blue-resume text-white self-start;
        }
    }
}
