name: Branches
on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize
permissions:
  pull-requests: read
jobs:
  semanticRelease:
    name: Validate Semantic Title
    runs-on: ubuntu-latest
    steps:
      - name: semantic-pull-request
        uses: amannn/action-semantic-pull-request@v5.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  project:
    name: Validate Builds
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - name: Set Token
        run: npm set "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}"
      - name: Install Dependencies
        run: npm ci
      - name: Error Free
        run: npm run build
